<!DOCTYPE html>
<html>
<head>
	<title>Seaview Practice</title>
</head>
<body>
<h1>Seaview Website</h1>
<ul>
	<li><a href="/"></a>Home</li>
	<li><a href="/prices">Prices</a></li>
	<li><a href="/contact us">Contact Us</a></li>
</ul>
{{{body}}}
</body>
</html>