<!DOCTYPE html>
<html>
<head>
	<title>Seaview Practice</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
	<h1>Seaview Website</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4"><a href="/">Home</a></div>
		<div class="col-md-4"><a href="/prices">Prices</a></div>
		<div class="col-md-4"><a href="/contact">Contact Us</a></div>
	</div>
</div>
<h2>{{title}}</h2>
{{{body}}}
</body>
</html>