<!DOCTYPE html>
<html>
<head>
	<title>Seaview Practice</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
	<h1>Seaview Website</h1>

	<div class="tabs">
		<div class="tabs-item">
			<a href="/"><h4>Home</h4></a>
		</div>
		<div class="tabs-item">
			<a href="/prices"><h4>Prices</h4></a>
		</div>
		<div class="tabs-item">
			<a href="/contact"><h4>Contact Us</h4></a>
		</div>
	</div>

	<h2>{{title}}</h2>
{{{body}}}
</div>




</body>
</html>