/* Seaview Stylesheet */

body {
	display: block;
	margin: auto;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.tabs {
	background: #24292E;
	color: white;
	padding: 10px 10px 0px 10px;
	display: flex;
	border-radius: 10px 10px 0 0; 
}

.tabs h4 {
	font-weight: bold;
	font-size: 19px;
}

.tabs p {
	font-weight: lighter;
	opacity: 0.8;
}

.tabs-item {
	flex: 1 0 auto;
	background: #2A3562;
	text-align: center;
}

.tabs-item:first-child {
	border-radius: 10px 0 0 0;
}

.tabs-item:last-child {
	border-radius: 0 10px 0 0;
}

.tabs-item.active {
	background: white;
	color: black;
}

.tabs-item.active p {
	font-weight: bold;
}